body{
	margin:0px;
	padding:0px;
	text-align: center;
}
#table{
	width: 100px;
	/*height: 200px;*/
	background-color: #fff;
	/*border:1px solid #eee;*/
	/*border:1px solid pink;
    box-shadow: #eee 0.5px 0.5px 2px 1px ;*/
}
#table tr{
height: 30px;
border: 1px solid red;

}
/*#table tr:hover{*/
/*	background-color: #fff;
}*/
/*.t{
	height: 45px;
	background-color: #d1e9ec;
}
*/
